<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student List</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

  <div class="container mt-4">

    <h1>{{title}}</h1>

    <table class="table">
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Course</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>

        {{#each students}}
          <tr><form action="/students">
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.email}}</td>
            <td>B{{this.course_id}} {{this.course_description}} {{this.course_name}}</td>
            <td>
              <a href="/students/update/{{this.student_id}}" class="btn btn-primary">Update</a>
              <a href="/students/delete/{{this.student_id}}" onclick="return confirm('Do you really want to remove {{this.first_name}} {{this.last_name}}?')" class="btn btn-danger">Remove</a>
            </td>
          </form></tr>
        {{/each}}

      </tbody>
    </table>
    <a href="/students/add" class="btn btn-primary">Add Student</a>
    <a href="/courses/add" class="btn btn-primary">Add Course</a>
    {{#if info}}
      <h4 class="alert alert-success mt-4">{{info}}</h4>
    {{/if}}
    {{#if remove}}
      <h4 class="alert alert-danger mt-4">{{remove}}</h4>
    {{/if}}

  </div>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>